@model IEnumerable<bike.Models.LoaiXe>
@{
    ViewData["Title"] = "Danh sách loại xe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Mã loại xe</th>
            <th>Tên loại xe</th>
            <th>Ngày tạo</th>
            <th>Ngày cập nhật</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaLoaiXe</td>
                <td>@item.TenLoaiXe</td>
                <td>@item.NgayTao.ToString("dd/MM/yyyy")</td>
                <td>@(item.NgayCapNhat?.ToString("dd/MM/yyyy"))</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaLoaiXe">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaLoaiXe">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

